@charset "UTF-8";

* {
  margin:0 auto;
}

body {
	  background-color:white;
	  font-family:georgia, times, serif;
	  height:2000px;
	  margin:0 auto;
}

#header {
	  background-color:#000;
	  background-position:initial initial;
	  background-repeat:initial initial;
	  height:70px;
	  left:0;
	  position:fixed;
	  top:0;
	  width:100%;
}

#nav {
	  margin-left:50px;
	  margin-top:45px;
	  word-spacing:20px;
}

/*-----conteudo em comum-----*/
.commum{
	background-position:initial initial;
	background-repeat:initial initial;
	height:630px;
	width:100%;
}
/*----- End Conteudo em comum -----*/

/*------ Equivalente as pagias -------*/
#page1 {
	background-color:#AFC9FF;
}

#page2 {
	background-color:#777CDC;
}

#page3 {
	background-color:#9B70C0;
}

#page4 {
	background-color:#361879;
}

#page5 {
	background-color:#6982A2;
}

#page6 {
	background-color:#f7E6A4;
}

#page7 {
	  background-color:#9B70C0;
}
/*------ End Paginas ------*/

.content{
	
}

a {
	  color:white;
	  text-decoration:none;
}

a:hover {
 	text-decoration:underline;
}